/* got from github at: https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    html, body{
        border :0;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;

        background: rgb(153, 114, 96);
    }

    p,a,h1,h2,h3,h4,h5,h6{
        order :0;
        margin: 0;
        padding: 0;
    }
    .main{
        min-height: 100%;
    }
    nav{
        background: #222;
        height: 70px;
        line-height: 70px;
        color: #fff;
    }
    nav a{
        color: aliceblue;
        text-decoration: none;
        font-weight: 200;
    }
    .nav-form{
        float: right;
        display: inline;
        margin-right: -30px;
    }
    .nav-form-input{
        height: 40px;
        border: 0;
        border-radius: 10%;
        padding-left: 5px;
    }
    .nav-form-input-submit{
        height: 40px;
        border: 0;
    }
    .container{
        margin: auto;
        width: 80%;
    }
    .homepage{
        background: rgb(153, 114, 96);
        margin-top: 20px;
    }
    .homeCapt{
        margin-top: 0px; 
        width: 60%;
        float: left;
        position: relative;
    
        background: url('../img/homeone.jpg');
        height: 500px;
        background-position: cover;
        background-repeat: no-repeat;
    }
    .homeCapt-inside{
        padding: 10px;
    }
    .homeCapt-inside h1{
        color: #fff;
        font-size: 1.5em;
    }
    .homeCapt-inside p{
        color: #fff;
        font-size: 1.5em;
    }
    .homeForm{
        width: 35%;
        float: right;
        position: relative;
        /* margin-top: -30px; */
        padding-left: 5px;
    }
    .homeForm h1{
        color: #fff;
        font-size: 1.5em;
    }
    .homeForm-input{
        width: 100%;
        margin: 10px;
        height: 40px;
        padding: 10px;
    }
    .homeForm-submit-button{
        height: 40px;
        border: 0;
        width: 395px;
        margin: 10px 10px;
    }

    /* --------------------------- */
    /* ----------footer----------------- */
    footer{
        background: #222;
        height: 100px;
        clear: both;
        bottom: 0;
        position: relative;
        color: #fff;
    }
    footer .container{
        padding-top: 10px;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  

  
}